/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url('/landing/css/banner.css');
@import url('/landing/css/components/container.css');
@import url('/landing/css/components/cards.css');
@import url('/landing/css/btn-primary.css');
@import url('/landing/css/footer.css');

/* Utilities */

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
Custom design below! */
